@page "/"
@using Application.Services
@using Domain.Entities
@using NetcodeHub.Packages.Components.Validations.OnInput
@using NetcodeHub.Packages.Components.Toast
@inject IEmployeeService emp

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-lg-6">
        <EditForm Model="employee" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <FloatingText @bind-Value="employee.Name" Label="Customer FullName" Placeholder="Jhon Doe" />
            <ValidationMessage For="()=>employee.Name" />

            <FloatingTextArea @bind-Value="employee.Address" Label="Customer Address" Placeholder="Turkey" class="mb-3" />
            <ValidationMessage For="()=>employee.Address" />

            <button class="btn btn-primary mt-5 mb-5" type="submit">Save</button>
        </EditForm>
    </div>
</div>

<NetcodeHubToast Duration="@duration" Per/>

@code {
    int duration;
    Employee employee = new();

    async Task Save()
    {
        var(flag,message) result = await emp.AddAsync(employee);
        //(if(flag)
    }
 }
