@page "/Product"

<!-- Project Start -->
<div class="text-center mb-5 wow fadeInUp mt-5" data-wow-delay=".3s">
    <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Telefon Ürünleri</h5>
</div>
<div class="row m-5">
    @for (int i = 1; i < 7; i++)
    {
        <div class="col-md-3 mb-5">
            <NavLink href="@($"/Product/{i}")" class="card shadow">
                <img src="/img/phone1.png" alt="watch large" style="height:300px;">
                <div class="card-footer bg-gray-200 border-top border-gray-300 p-4">
                    <a class="h5">SIFIR 15 PRO MAX 256GB</a>
                    <div class="d-flex mt-2">
                        <span class="badge bg-primary me-2">Apple</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="h6 mb-0 text-gray">37.999 TL</span>
                        <a class="btn btn-primary btn-tertiary">
                            Detaylı Bilgi
                        </a>
                    </div>
                </div>
            </NavLink>
        </div>
    }
</div>
<!-- Project End -->
