@page "/Product"


<!-- Project Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
            <h1 class="display-5">Telefon alışverişinizi kolaylaştırıyoruz!</h1>
        </div>

        <div class="row g-5">
            @foreach (var i in Enumerable.Range(1, 8))
            {
                <div class="col-md-4 hp">
                    <div class="card h-100 shadow-sm px-3 pt-4">
                        <a href="#">
                            <img src="https://m.media-amazon.com/images/I/81gK08T6tYL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
                        </a>

                        <div class="card-body">
                            <div class="clearfix mb-3">
                                <span class="float-end badge rounded-pill bg-success">50.000 TL</span>
                            </div>
                            <h5 class="card-title text-center">
                                <span target="_blank" href="#">İphone 15 Pro Max 2T</span>
                            </h5>

                            <div class="d-grid gap-2 my-4">
                                <a href="#" class="btn btn-warning bold-btn">Detay Bilgi</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Project End -->
