@inherits LayoutComponentBase

<div class="flex">
    <div class="fixed left-0 top-0 h-screen w-1/4 bg-black text-white">
        <Sidebar></Sidebar>
    </div>
    <div class="ml-1/4 w-3/4">
        <div class="flex h-16 items-center justify-center bg-red-500 text-white">
            <Navbar></Navbar>
        </div>
        <div class="p-4">
            @Body
        </div>
    </div>
</div>