<!-- Navbar Start -->
<div class="container-fluid bg-dark fixed-top">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-lg-0">
            <a href="index.html" class="navbar-brand">
                <h1 class="text-primary mb-0 display-5">Pest<span class="text-white">Kit</span><i class="fa fa-spider text-primary ms-2"></i></h1>
            </a>
            <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-dark"></span>
            </button>
            <div class="collapse navbar-collapse me-n3" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <NavLink href="/" class="nav-item nav-link" Match="NavLinkMatch.All">Anasayfa</NavLink>
                    <NavLink href="/service" class="nav-item nav-link">Hizmetler</NavLink>
                    <NavLink href="/product" class="nav-item nav-link">Ürünler</NavLink>
                    <NavLink href="/contact" class="nav-item nav-link">İletişim</NavLink>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}